* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

section {
  padding: calc((100% - 1050px) / 2);
  padding-top: 100px;
  padding-bottom: 100px;
}

/** botoes **/

.div-btts {
  background: linear-gradient(
    to bottom,
    rgb(255, 220, 80) 0%,
    rgb(237, 189, 9) 25%,
    rgb(231, 180, 13) 80%,
    rgb(207, 152, 41) 95%
  );
  height: 60px;
  width: 300px;
  box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.29);
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.div-btts .link-btts {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
  color: #2c311e;
}

.div-btts::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  transition: transform 0.8s ease-out;
  z-index: 1;
}

.div-btts:hover::before {
  content: "";
  transform: scale(50);
  background: #f1720c;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.div-btts:active {
  top: 5px;
  border: 3px solid #a83225;
  background-color: #f1720c;
}

#scroll-to-top {
  position: fixed;
  z-index: 60;
  bottom: 50px;
  right: 15px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: linear-gradient(
    to bottom,
    rgb(255, 220, 80) 0%,
    rgb(237, 189, 9) 25%,
    rgb(231, 180, 13) 80%,
    rgb(207, 152, 41) 95%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: #85640b;
  font-size: 24px;
  border: 2px solid #85640b;
}

#scroll-to-top span {
  text-align: center;
  transform: rotate(-90deg);
  margin-right: 3px;
}

/** header **/

header {
  background-image: url("img/secao_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: calc((100% - 1050px) / 2);
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "logo headerup"
    "logo headerdown";
  margin-bottom: -50px;
  position: relative;
  z-index: 50;
}

#menu-mobile {
  display: none;
}

#fechar-mobile {
  display: none;
}

header #logo img {
  width: 60px;
}

header #logo {
  text-align: center;
  justify-self: start;
  grid-area: logo;
  margin-left: 20px;
}

header #logo p {
  font-family: "Love Ya Like A Sister";
  font-size: 30px;
  color: #f1ebe8;
}

#header-up {
  display: flex;
  align-items: center;
  grid-area: headerup;
  border-bottom: 2px solid #6b311b;
  padding-bottom: 15px;
  margin-right: 20px;
}

#header-up span {
  color: #f1ebe8;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
}

#header-up span::before {
  content: url("img/tel.svg");
  margin-right: 10px;
}

#header-up .div-btts {
  width: 180px;
  height: 30px;
  font-size: 12px;
  border-radius: 8px;
  margin-left: 20px;
}

#header-up form {
  display: flex;
  margin-left: auto;
}

#header-up form label {
  position: absolute;
  visibility: hidden;
}

#header-up #pesquisar {
  width: 200px;
  height: 30px;
  background: #ffffff;
  color: #2c311e;
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  padding-left: 5px;
  border: 0;
  outline: 0;
  border-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#header-up form .link-seta {
  border: none;
  cursor: pointer;
  background: transparent;
  font-family: inherit;
  text-transform: inherit;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 12px;
  line-height: 1;
  display: block;
  width: 30px;
  top: 0px;
}

#header-up form .btts-seta {
  width: 30px;
  height: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
}

#header-down {
  font-family: "Assistant", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 20px;
}

#header-down ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#header-down ul li {
  position: relative;
}

#header-down ul li .item-menu {
  color: #f1ebe8;
  text-align: center;
  position: relative;
  display: block;
  width: auto;
  background: transparent;
  border: none;
  cursor: pointer;
}

#header-down ul li .item-menu::before {
  content: "";
  position: absolute;
  background: transparent;
  width: 0px;
  height: 50px;
  border-radius: 16px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  transition: width 0.3s ease;
}

#header-down ul li .item-menu:hover::before {
  background: #cf4c18;
  width: 100%;
  margin: 0 auto;
  transform: scaleX(1.2);
}

#header-down .menu {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Love Ya Like A Sister";
  text-transform: uppercase;
}

#header-down .descricao-menu {
  font-size: 12px;
  font-family: "Assistant", sans-serif;
}

#header-down .menu-opcoes {
  position: absolute;
  background: #8a2318;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  padding: 20px;
  font-family: "Assistant", sans-serif;
  margin-top: 10px;
}

#header-down .menu-opcoes ul {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 40px;
}

#header-down .menu-opcoes ul li {
  width: 150px;
}

#header-down .menu-opcoes ul li a {
  color: #f1ebe8;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  width: auto;
}

.menu-opcoes ul li a::before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.menu-atividades ul li:nth-of-type(1) a::before {
  background-image: url("img/atracao1.png");
}

.menu-atividades ul li:nth-of-type(2) a::before {
  background-image: url("img/atracao2.png");
}

.menu-atividades ul li:nth-of-type(3) a::before {
  background-image: url("img/atracao3.png");
}

.menu-atividades ul li:nth-of-type(4) a::before {
  background-image: url("img/atracao4.png");
}

.menu-atividades ul li:nth-of-type(5) a::before {
  background-image: url("img/atracao5.png");
}

.menu-atividades ul li:nth-of-type(6) a::before {
  background-image: url("img/atracao6.png");
}

.menu-visita ul li:nth-of-type(1) a::before {
  background-image: url("img/visita1.png");
}

.menu-visita ul li:nth-of-type(2) a::before {
  background-image: url("img/visita2.png");
}

.menu-visita ul li:nth-of-type(3) a::before {
  background-image: url("img/visita3.png");
}

.menu-visita ul li:nth-of-type(4) a::before {
  background-image: url("img/visita4.png");
}

.menu-opcoes ul li a::after {
  content: "";
  position: absolute;
  background: #751c12;
  width: 0;
  height: 40px;
  border-radius: 16px;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  z-index: -1;
  transition: width 0.3s ease;
}

.menu-opcoes ul li a:hover::after {
  width: 100%;
  transform: scaleX(1.2);
  transform: scaleY(1.4);
}

/** principal **/

.slider div {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0;
  transition: all 0.5s ease;
}

.slider .fundo1 {
  background-image: url("img/fundo1.jpg");
}

.slider .fundo2 {
  background-image: url("img/fundo2.jpg");
}

.slider .fundo3 {
  background-image: url("img/fundo3.jpg");
}

.slider div.selecionado {
  opacity: 1;
}

#section-principal {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 16;
  margin-bottom: -70px;
  display: block;
  overflow: hidden;
  position: relative;
}

#section-principal #conteudo {
  padding: calc((100% - 1050px) / 2);
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  left: 0;
  top: 0;
}

#section-principal #conteudo h1 {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.69);
  width: 300px;
  color: #f7f6f6;
  font-family: "Love Ya Like A Sister";
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  text-align: left;
  margin-bottom: 50px;
  text-transform: uppercase;
  margin-left: 20px;
}

#section-principal .div-btts + .div-btts {
  margin-top: 20px;
}

#section-principal .div-btts {
  margin-left: 20px;
}

/** recomendacoes **/

#recomendacoes {
  background-image: url("img/secao_alerta.svg");
  background-repeat: repeat-x;
  background-position: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 16;
  margin-bottom: -70px;
  display: block;
  overflow: hidden;
  width: 100%;
}

#recomendacoes p {
  color: #2c311e;
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: left;
  position: relative;
  display: inline-block;
  width: auto;
  animation: alerta 30s linear 0s infinite normal;
  animation-fill-mode: forwards;
}

@keyframes alerta {
  from {
    left: -620px;
  }

  to {
    left: 100%;
  }
}

/** atividades **/
#section-atividades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  bottom: -40px;
  z-index: 2;
  background: #8ba81c;
  background-image: url("img/detalhe_atividades.svg");
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: 109% 1%;
  padding-bottom: 120px;
  bottom: -50px;
  grid-gap: 30px;
  justify-content: center;
  margin-top: -5px;
}

#section-atividades .titulo-section {
  margin-top: -15px;
}

.card-atividade {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 415px;
  color: #dff164;
  font-family: "Love Ya Like A Sister", cursive;
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 1.3;
  text-align: right;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  justify-self: center;
  border: 2px solid #d7eb5a;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.18);
  padding: 30px;
}

.card-atividade:hover {
  top: 5px;
}

.card-atividade:active {
  top: 15px;
}

.card-atividade h3 {
  margin-left: auto;
  padding-right: 20px;
  z-index: 2;
  font-weight: 400;
}

/***/
.card-atividade img {
  width: 60px;
  position: relative;
  z-index: 1;
}
/** promos **/

#section-promos {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("img/detalhe_promos.svg"), url("img/secao_promos.svg");
  background-repeat: no-repeat;
  background-size: 175px, cover;
  background-position: 50%, center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  bottom: -40px;
  z-index: 2;
}

#section-promos label {
  position: absolute;
  visibility: hidden;
}

#section-promos .titulo-section {
  color: #f5c81d;
  grid-column: 1;
  font-size: 30px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 20px;
}

#section-promos form {
  grid-column: 2;
  margin: 0;
  display: flex;
  justify-self: end;
  margin-right: 20px;
}

#section-promos form #email-promo {
  width: 300px;
  height: 50px;
  background: #ffffff;
  color: #2c311e;
  font-family: "Assistant";
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  padding-left: 5px;
  border: 0;
  outline: 0;
  border-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#section-promos form .link-seta {
  border: none;
  cursor: pointer;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#section-promos form .btts-seta {
  width: 50px;
  height: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
}
/** eventos **/

#section-eventos {
  background: #f1ebe8;
  background-image: url("img/detalhe_eventos.svg"),
    url("img/detalhe_eventos.svg");
  background-repeat: repeat-y;
  background-size: 100px;
  background-position-x: 95%, 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  padding-bottom: 120px;
  bottom: -20px;
}

#section-eventos .subtitulo-section,
#section-eventos .titulo-section {
  color: #2c311e;
}

#section-eventos .subtitulo-section::after {
  background-color: #2c311e;
}

.subtitulo-section,
.titulo-section {
  grid-column: 1 / -1;
  margin: 0 auto;
  padding: 0;
  font-family: "Love Ya Like A Sister", cursive;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}

.card-evento {
  position: relative;
  width: 320px;
  justify-self: center;
}

.card-evento h3 {
  color: #2c311e;
  font-family: "Assistant";
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  margin-bottom: 5px;
}

.card-evento p {
  width: 300px;
  height: 140px;
  padding: 8px 8px 8px 15px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.18);
  background: #ffffff;
  color: #2c311e;
  font-family: "Assistant";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin: 0 auto;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  border-radius: 16px;
}

.card-evento span {
  font-family: "Assistant";
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: #2c311ecc;
}

.card-evento .btts-seta {
  bottom: 10px;
  right: 20px;
  z-index: 2;
  margin: 0 auto;
}

.card-evento img {
  width: 340px;
  display: block;
  max-width: 100%;
  border-radius: 16px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.18);
}
/** novidades **/

#section-novidades {
  background: url("img/detalhe_novidades2.svg"),
    url("img/detalhe_novidades2_inverse.svg"), url("img/secao.svg");
  background-repeat: no-repeat;
  background-size: 300px, 300px, cover;
  background-position: 5% 103%, 95% -3%, center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 2;
  width: 100%;
}

.titulo-section {
  font-size: 42px;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 15px;
  letter-spacing: 1px;
}

.subtitulo-section {
  opacity: 90%;
  position: relative;
  font-size: 18px;
}

.subtitulo-section::after {
  content: "";
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -7px;
  height: 2px;
  width: 100%;
}

#section-novidades article {
  width: 270px;
  padding: 19px 13px;
  border: 2px solid #d7eb5a;
  border-radius: 16px;
  position: relative;
  display: block;
  justify-self: center;
  margin: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.18);
}

#section-novidades article h3 {
  color: #ffffff;
  font-family: "Assistant";
  font-size: 24px;
  line-height: 1;
  text-align: left;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-top: 0;
}

#section-novidades article p {
  color: #d7eb5a;
  font-family: "Assistant";
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.btts-seta {
  padding: 10px 12px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.18);
  background: linear-gradient(
    to bottom,
    rgb(255, 220, 80) 0%,
    rgb(237, 189, 9) 25%,
    rgb(231, 180, 13) 80%,
    rgb(207, 152, 41) 95%
  );
  line-height: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: absolute;
}

#section-novidades .btts-seta {
  right: 13px;
  top: 19px;
}

.btts-seta .link-seta {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  color: #85640b;
  text-align: center;
  font-family: "Love Ya Like A Sister";
  font-weight: 400;
  font-size: 18px;
  animation: seta 0.5s ease-out 0s infinite alternate;
  animation-fill-mode: forwards;
  line-height: 1;
  top: 2px;
}

.btts-seta::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  transition: transform 0.5s ease-out;
  z-index: 1;
}

.btts-seta:hover::before {
  content: "";
  transform: scale(15);
  background-color: #f1720c;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@keyframes seta {
  from {
    left: -3px;
  }

  to {
    left: 3px;
  }
}

/** sobre **/

#section-sobre .titulo-section {
  grid-column: 1;
  margin-left: 0;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 20px;
}

#section-sobre {
  background: #a83225;
  background-image: url("img/sobre.svg");
  background-size: 900px;
  background-repeat: repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  padding-top: 120px;
  top: -20px;
  align-items: stretch;
}

#section-sobre p {
  grid-column: 1;
  padding: 20px 40px 20px 0px;
  color: #ffffff;
  font-family: "Assistant";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

#section-sobre .div-btts {
  grid-column: 1;
  width: 200px;
  margin-left: 20px;
}

#section-sobre img {
  grid-row: 1 / 4;
  width: 650px;
  display: block;
  max-width: 100%;
  justify-self: right;
  position: absolute;
  top: -120px;
}

/** contato **/

#section-contato {
  background-image: url("img/detalhe_contato.svg"), url("img/secao_contato.svg");
  background-repeat: no-repeat;
  background-size: 300px, cover;
  background-position: 105% 100%, center;
  display: grid;
  position: relative;
  padding-top: 120px;
  padding-bottom: 140px;
  top: -50px;
}

#section-contato .subtitulo-section,
#section-contato .titulo-section {
  color: #a83225;
}

#section-contato .subtitulo-section::after {
  background: #a83225;
}

#section-contato form {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 30px;
  margin: 0 auto;
}

#section-contato form label {
  position: absolute;
  visibility: hidden;
}

#titulo {
  grid-column: 1 / -1;
}

#mensagem {
  grid-column: 1 / -1;
}

#section-contato input:not(#enviar-mensagem) {
  border: 0;
  outline: 0;
  border-radius: 0;
  height: 40px;
  padding-left: 5px;
  color: #2c311e;
  font-family: "Assistant";
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  background-color: transparent;
  border-bottom: 2px solid #a83225;
}

#section-contato input::placeholder {
  color: #cc531b9f;
}

#section-contato textarea {
  border: 0;
  outline: 0;
  border-radius: 0;
  height: 180px;
  padding: 5px;
  padding-top: 10px;
  color: #2c311e;
  font-family: "Assistant";
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: left;
  background-color: transparent;
  border: 2px solid #a83225;
}

#section-contato textarea::placeholder {
  color: #cc531b9f;
}

#enviar-mensagem {
  border: none;
  cursor: pointer;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#section-contato .div-btts {
  width: 260px;
  grid-column: 3;
}

/** footer **/

footer {
  background-image: url("img/secao_footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -100px;
  position: relative;
  z-index: 10;
  padding: calc((100% - 1050px) / 2);
  padding-top: 50px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "visita atividades mapa endereco"
    "visita atividades midia endereco"
    "visita atividades sobre icons"
    "rs rs rs rs"
    "cr cr cr cr";
  grid-gap: 10px;
  font-family: "Assistant", cursive;
  color: #2c311e;
  font-size: 16px;
}

footer .div-btts {
  width: 200px;
  height: 50px;
}

footer .div-btts .link-btts {
  font-size: 14px;
}

#icons-footer {
  grid-area: icons;
  font-weight: 700;
}

#icons-footer a {
  color: #2c311e;
}

#visita-footer {
  grid-area: visita;
}

#visita-footer .div-btts {
  margin-top: 30px;
}

#atividades-footer {
  grid-area: atividades;
}

#midia-footer {
  grid-area: midia;
}

#endereco-footer {
  grid-area: endereco;
  width: 200px;
}

#mapa {
  grid-area: mapa;
}

#endereco-footer span:nth-of-type(1)::before {
  content: url("img/mapa.svg");
  margin-right: 10px;
}

#endereco-footer span:nth-of-type(2) {
  margin-left: 26px;
  margin-top: 0px;
}

#endereco-footer span:nth-of-type(3)::before {
  content: url("img/tel.svg");
  margin-right: 10px;
}

#endereco-footer span:nth-of-type(4)::before {
  content: url("img/envelope.svg");
  margin-right: 10px;
}

#endereco-footer span + span {
  display: block;
  margin-top: 15px;
}

#redes-sociais {
  margin: 0;
  padding: 0;
  grid-area: rs;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: bold;
}

#redes-sociais li a {
  color: #2c311e;
}

#redes-sociais li {
  padding: 15px;
}

#copyright {
  grid-area: cr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  padding-top: 25px;
  border-top: 2px solid #dff164;
  margin-right: 20px;
  margin-left: 20px;
}

.item-footer {
  margin: 20px;
}

.item-footer p,
#sobre-footer {
  color: #2c311e;
  font-weight: 700;
}

#sobre-footer {
  margin: 20px;
  grid-area: sobre;
}

.item-footer li a {
  color: #2c311e;
}

.item-footer li + li {
  margin-top: 5px;
}

.item-footer ul {
  margin-top: 10px;
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition: 0.6s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.js .js-scroll2 {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  transition: 0.6s;
}

.js .js-scroll2.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js #visita {
  display: none;
  animation: show 0.4s forwards;
}

.js #menu-atividades {
  display: none;
  animation: show 0.4s forwards;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #8ba81c;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader #pontos {
  display: flex;
  margin-top: 20px;
}

#loader #texto {
  font-family: "Love Ya Like A Sister";
  font-size: 18px;
  letter-spacing: 1px;
  color: #dff164;
}

#loader img {
  width: 70px;
  margin-bottom: 20px;
}
#loader span {
  background-color: #dff164;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
  display: block;
  position: relative;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align: center;
}

#loader span:first-of-type {
  animation: loading 0.5s ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#loader span:nth-of-type(2) {
  animation: loading 0.5s ease-out;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#loader span:nth-of-type(3) {
  animation: loading 0.5s ease-out;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loading {
  from {
    bottom: 0;
  }

  to {
    bottom: 8px;
  }
}

#contato-body {
  background-color: #f1ebe8;
}

#contato-body #section-contato {
  margin-top: 100px;
  background-image: url("img/secao_contato.svg");
  background-size: cover;
  background-position: center;
}

#contato-body #section-contato .subtitulo-section,
#contato-body #section-contato .titulo-section {
  color: #2c311e;
}

#contato-body #section-contato .subtitulo-section::after {
  background: #2c311e;
}

#contato-body #section-contato input:not(#enviar-mensagem) {
  border-bottom: 2px solid #2c311e;
}

#contato-body #section-contato input::placeholder {
  color: #2c311e96;
}

#contato-body #section-contato textarea {
  color: #2c311e;
  border: 2px solid #2c311e;
}

#contato-body #section-contato textarea::placeholder {
  color: #2c311e96;
}

#redes-sociais-contato a {
  padding: 20px;
}

#redes-sociais-contato {
  padding: 10px 0;
}

#endereco-contato {
  font-size: 18px;
  text-align: center;
  border: 1px solid #2c311e;
  padding: 20px;
  font-family: "Assistant";
  color: #2c311e;
  border-radius: 16px;
  width: 280px;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 200px;
}

#endereco-contato span:nth-of-type(1)::before {
  content: url("img/mapa_contato.svg");
  margin-right: 10px;
  position: relative;
}

#endereco-contato span:nth-of-type(2) {
  margin-top: 0px;
  border-bottom: 1px solid #2c311e;
  padding-bottom: 15px;
}

#endereco-contato span:nth-of-type(3)::before {
  content: url("img/tel_contato.svg");
  margin-right: 10px;
  position: relative;
}

#endereco-contato span:nth-of-type(3) {
  border-bottom: 1px solid #2c311e;
  padding-bottom: 15px;
}

#endereco-contato span:nth-of-type(4)::before {
  content: url("img/envelope_contato.svg");
  margin-right: 10px;
  position: relative;
}

#endereco-contato span:nth-of-type(4) {
  border-bottom: 1px solid #2c311e;
  padding-bottom: 15px;
}

#endereco-contato span + span {
  display: block;
  margin-top: 15px;
}

/****************/

#pag-n-existe h2 {
  color: #a83225;
  font-size: 32px;
  margin: 20px;
}

#pag-n-existe .div-btts {
  width: 220px;
  margin: 0 auto;
}

#pag-n-existe {
  margin: 100px 0px;
}

/** pagina sobre **/
#sobre-body {
  background-color: #f1ebe8;
}

#sobre-body h3 {
  font-family: "Love Ya Like a Sister";
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #2c311e;
  margin-left: 20px;
  margin-right: 20px;
}

#sobre-body section p {
  grid-column: 1;
  color: #000;
  font-family: "Assistant";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

#sobre-pagina {
  text-align: center;
}

#sobre-body .subtitulo-section {
  color: #2c311e;
  width: auto;
  display: inline-block;
  margin-top: 150px;
}

#sobre-body .subtitulo-section::after {
  background: #2c311e;
}
#sobre-body .titulo-section {
  color: #2c311e;
  margin-bottom: 0px;
}

.historia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  grid-gap: 30px;
  z-index: 2;
  width: 100%;
}

.historia div {
  grid-column: 2;
  grid-row: 1 / 5;
  width: 400px;
  justify-self: right;
  margin-right: 20px;
}

.historia div img {
  width: 100%;
}

.historia h3 {
  text-align: left;
}

.objetivos {
  background: url("img/secao.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.objetivos h3,
.objetivos p {
  grid-column: 2 !important;
  justify-self: right !important;
  text-align: right !important;
  color: #2c311e !important;
}

.objetivos img {
  grid-column: 1;
  grid-row: 1 / 5;
  width: 500px;
  justify-self: left;
  margin-right: 20px;
  margin-left: 20px;
  align-self: center;
}

.valores {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  justify-content: space-between;
  grid-gap: 30px;
  margin-bottom: 100px;
}

.valores h3 {
  grid-column: 1 / -1;
  text-align: center;
}

.valores p {
  text-align: center !important;
}

.valores p:first-of-type {
  grid-column: 1 !important;
}

.valores p:nth-of-type(2) {
  grid-column: 2 !important;
}

.valores p:nth-of-type(3) {
  grid-column: 3 !important;
}

.valores img:first-of-type {
  grid-column: 1 !important;
}

.valores img:nth-of-type(2) {
  grid-column: 2 !important;
}

.valores img:nth-of-type(3) {
  grid-column: 3 !important;
}

.valores img {
  grid-row: 2;
  width: 70px;
  justify-self: center;
}

#mapa_pag {
  background-color: #f1ebe8;
}

#mapa_pag section .div-btts {
  margin-top: 20px;
  margin-bottom: 100px;
}

#mapa_pag section {
  margin-right: 20px;
  margin-left: 20px;
}
#mapa_pag iframe {
  border: 2px solid #2c311e !important;
  border-radius: 16px;
}

#mapa_pag section {
  text-align: center;
}

#mapa_pag .subtitulo-section {
  color: #2c311e;
  width: auto;
  display: inline-block;
  margin-top: 50px;
}

#mapa_pag .subtitulo-section::after {
  background: #2c311e;
}
#mapa_pag .titulo-section {
  color: #2c311e;
}

@media all and (max-width: 950px) {
  #section-atividades {
    display: grid;
    grid-template-columns: 1fr;
    background-size: 300px;
    background-position: 110% 1%;
  }

  .card-atividade {
    width: 70%;
    font-size: 14px;
  }

  #section-eventos {
    grid-template-columns: auto;
  }

  .card-evento + .card-evento {
    margin-top: 60px;
  }

  #section-novidades {
    grid-template-columns: auto;
    justify-content: center;
    background-size: 250px, 250px, cover;
    background-position: 5% 100%, 95% 0%, center;
  }

  #section-novidades article {
    width: 320px;
  }

  #section-novidades article + article {
    margin-top: 60px;
  }

  #section-sobre {
    grid-template-columns: auto;

    margin-top: -10px;
  }

  #section-sobre img {
    grid-row: 1 / 4;
    width: 650px;
    display: block;
    max-width: 100%;
    justify-self: right;
    position: relative;
    top: -120px;
  }

  #section-sobre .titulo-section {
    margin-top: -150px;
  }

  #section-sobre p {
    margin-top: -100px;
    margin-bottom: 30px;
  }

  #section-contato form {
    grid-template-columns: auto;
  }

  #section-contato textarea {
    width: 500px;
  }

  #section-contato .div-btts {
    grid-column: 1;
  }

  #sobre-body h3 {
    grid-column: 1 / -1 !important;
    text-align: center;
  }

  #sobre-body section p {
    grid-column: 1 / -1 !important;
  }

  .historia {
    display: grid;
    grid-template-columns: 1fr;
  }

  .historia div {
    grid-column: 1 / -1 !important;
    grid-row: 6 !important;
    width: 100% !important;
    display: flex;
    text-align: center !important;
    justify-content: center;
    justify-items: center !important;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
  }

  .historia div img {
    max-width: 320px;
    margin: 20px;
    display: block;
  }

  .objetivos {
    grid-template-columns: 1fr;
  }

  .objetivos h3,
  .objetivos p {
    grid-column: 1 !important;
    justify-self: center !important;
    text-align: left !important;
  }

  .objetivos img {
    justify-self: center;
    max-width: 320px;
    margin: 20px;
    display: block;
  }

  .valores {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    grid-gap: 30px;
    margin-bottom: 100px;
  }

  .valores p {
    width: 320px;
    justify-self: center;
  }

  .valores p:first-of-type {
    grid-column: 1 !important;
  }

  .valores p:nth-of-type(2) {
    grid-column: 1 !important;
  }

  .valores p:nth-of-type(3) {
    grid-column: 1 !important;
  }

  .valores img:first-of-type {
    grid-column: 1 !important;
  }

  .valores img:nth-of-type(2) {
    grid-column: 1 !important;
    grid-row: 4;
  }

  .valores img:nth-of-type(3) {
    grid-column: 1 !important;
    grid-row: 6;
  }

  .valores p + img {
    margin-top: 50px;
  }
}

@media all and (max-width: 900px) {
  header {
    background-image: url("img/secao_header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: calc((100% - 1050px) / 2);
    padding-top: 10px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "logo";
    margin-bottom: -50px;
    position: relative;
    z-index: 50;
  }

  #mapa_pag iframe {
    width: 90%;
  }

  #mapa_pag section .div-btts {
    margin-left: auto;
    margin-right: auto;
  }

  header #logo img {
    width: 40px;
  }

  header #logo {
    text-align: center;
    justify-self: start;
    grid-area: logo;
    margin-right: auto;
  }

  header #logo p {
    font-family: "Love Ya Like A Sister";
    font-size: 20px;
    color: #f1ebe8;
  }

  #header-up {
    border-bottom: none;
    padding-bottom: 15px;
    margin-right: 20px;
    flex-direction: column;
    z-index: 21;
    width: 100%;
    justify-content: flex-start;
    padding-top: 35px;
    position: absolute;
    display: none;
  }

  #header-up .div-btts {
    margin-left: 0px;
    margin-top: 25px;
  }

  #header-up form {
    margin-right: auto;
    margin-top: 20px;
  }

  #header-up #pesquisar {
    width: 200px;
    height: 30px;
    background: #ffffff;
    color: #2c311e;
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    padding-left: 5px;
    border: 0;
    outline: 0;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  #header-up form .link-seta {
    border: none;
    cursor: pointer;
    background: transparent;
    font-family: inherit;
    text-transform: inherit;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 12px;
    line-height: 1;
    display: block;
    width: 30px;
    top: 0px;
  }

  #header-down {
    padding-top: 200px;
    padding-bottom: 25px;
    margin-right: 20px;
    background-color: #a83225;
    z-index: 20;
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: -10px;
    display: none;
    overflow: hidden;
  }

  #header-down ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  #header-down ul li {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 25px;
  }

  #header-down ul li .item-menu {
    width: 100%;
  }
  #header-down .menu-opcoes {
    position: relative;
  }

  #header-down .menu-opcoes ul {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    width: 100%;
    justify-content: center;
  }

  #header-down .menu-opcoes ul li {
    width: 100%;
  }

  #header-down .menu-opcoes ul li a {
    width: 100%;
  }

  #menu-mobile {
    display: block;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: auto;
    color: #2c311e;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  #menu-mobile svg {
    margin-top: 6px;
    position: relative;
    z-index: 1;
  }

  #fechar-mobile {
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: auto;
    color: #f1ebe8;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    z-index: 50;
  }

  #section-promos {
    background-size: 200px, cover;
    grid-template-columns: auto;
    margin-top: -10px;
  }

  #section-promos form {
    grid-column: 1;
    margin-right: 0px;
    width: 320px;
    margin: 0 auto;
    margin-top: 30px;
  }

  #section-promos form #email-promo {
    width: 100%;
  }

  #section-promos .titulo-section {
    font-size: 24px;
    margin-right: 20px;
  }

  footer {
    margin-top: -130px;
    grid-template-columns: auto;
    grid-template-areas:
      "visita"
      "atividades"
      "mapa"
      "midia"
      "sobre"
      "endereco"
      "icons"
      "rs"
      "cr";
    justify-content: center;
    justify-items: center;
  }

  .item-footer {
    text-align: center;
  }

  footer .div-btts {
    margin: 0 auto;
  }

  #endereco-footer {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  #sobre-footer {
    text-align: center;
  }

  #redes-sociais {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #copyright {
    font-size: 16px;
    justify-self: stretch;
  }
}

@media all and (max-width: 600px) {
  .div-btts {
    height: 55px;
    width: 250px;
    font-size: 18px;
  }

  #section-sobre .div-btts {
    width: 160px;
  }

  #section-contato form {
    width: 85%;
  }

  #section-contato .div-btts {
    width: 230px;
  }

  #section-principal .div-btts {
    margin-left: 0px;
    margin: 0 auto;
  }

  #section-principal #conteudo h1 {
    width: 280px;
    font-size: 42px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #section-contato textarea {
    width: 100%;
  }

  .titulo-section {
    font-size: 32px;
  }

  #recomendacoes p {
    font-size: 14px;
  }

  /***********/

  .slider .fundo1 {
    background-image: url("img/fundo-mobile1.jpg");
  }

  .slider .fundo2 {
    background-image: url("img/fundo-mobile2.jpg");
  }

  .slider .fundo3 {
    background-image: url("img/fundo-mobile3.jpg");
  }
}
